[submodule "GolangTraining"]
	path = GolangTraining
	url = git@github.com:GoesToEleven/GolangTraining.git
[submodule "go-programming"]
	path = go-programming
	url = git@github.com:GoesToEleven/go-programming.git
